<!DOCTYPE html>
<html class="has-background-light" lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <section class="hero">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <div class="columns">
            <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
              <div class="content is-size-4">
                <p>
                  The Data and AI Civil Society Network brings together diverse civil society organisations and campaigners to share and collaborate on policy, campaigns and advocacy on data and AI. 
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="meetings">
      <div class="container is-max-desktop">
        <h2 class="title"></h2>
        <div class="columns">
          <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
            <div class="content is-size-5">
              <p>The Network hosts various meetings focused on different aspects of data and AI policy.</p> 
              <p>Meetings are held under the Chatham House rule.</p>
              <div class="content is-size-6">
                <p><em>Meeting notes prior to April 2024 are not publicly available.</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {%- assign previous = site.meetings | where: "upcoming", "false" | reverse -%}
    {%- assign upcoming = site.meetings | where: "upcoming", "true" -%}

    {%- for group in site.groups -%}
      {%- assign id = group.id | split: "/" | last -%}
      <section class="section" id="{{ id }}">
        <div class="container is-max-desktop">
          <h2 class="title">{{ group.title }}</h2>
          <div class="columns">
            <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
              <div class="content is-size-5">
                {{ group.content | markdownify }}
              </div>
            </div>
          </div>

          {%- assign group-upcoming = upcoming | where: "group", id | slice: 0, 3 -%}
          {%- if group-upcoming.size > 0 -%}
            <h3 class="title is-size-4">Upcoming meetings</h3>
            {%- for meeting in group-upcoming -%}
              <div class="columns is-size-5">
                <div class="column is-one-fifth">{{ meeting.date | date: "%a %d %b %y" }} {{ meeting.start }}</div>
                <div class="column is-three-fifths">{{ meeting.content }}</div>
                <div class="column is-one-fifth">
                  {%- if meeting.agenda -%}
                    <a href="{{meeting.agenda}}">Agenda</a>
                  {%- else -%}
                    Agenda TBC
                  {%- endif -%}
                </div>
              </div>
            {%- endfor -%}
          {%- endif -%}

          {%- assign group-recent = previous | where: "group", id | slice: 0, 3 -%}
          {%- if group-recent.size > 0 -%}
            <h3 class="title is-size-4">Recent meetings</h3>
            {%- for meeting in group-recent -%}
              <div class="columns is-size-5">
                <div class="column is-one-fifth">{{ meeting.date | date: "%a %d %b %y" }} {{ meeting.start }}</div>
                <div class="column is-three-fifths">{{ meeting.content }}</div>
                <div class="column is-one-fifth">
                  {%- if meeting.agenda -%}
                    <a href="{{meeting.agenda}}">Minutes</a>
                  {%- endif -%}
                </div>
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>
      </section>
    {%- endfor -%}

    <section class="hero" id="dpd">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <h2 class="title">Data policy digest</h2>
          <div class="columns">
            <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
              <div class="content is-size-5">
                <p>
                  A comprehensive (and humorous) posting, pulling together all the news, views and gossip from data and AI policy land, with a UK focus. (Temporarily paused due to lack of funding).
                </p>
              </div>
            </div>
          </div>
          <p class="buttons">
            <a class="button" href="https://connectedbydata.us21.list-manage.com/subscribe?u=7c03d6a429375c9cc2eef194f&id=3c200de804">
              <span class="icon-text">
                <span class="icon">
                  <i class="fa-solid fa-envelope-circle-check" aria-hidden="true"></i>
                </span>
                <span>Subscribe</span>
              </span>
            </a>
            <a class="button" href="https://connectedbydata.org/projects/2023-data-policy-digest">
              <span class="icon-text">
                <span class="icon">
                  <i class="fa-solid fa-newspaper" aria-hidden="true"></i>
                </span>
                <span>Back issues</span>
              </span>
            </a>
          </p>
        </div>
      </div>
    </section>

    <section class="hero highlight" id="resources">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <h2 class="title">Resources</h2>
          <div class="columns">
            <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
              <div class="content is-size-5">
                <p>Find useful resources here:</p>
                <ul>
                  <li>
                    <a href="https://docs.google.com/document/d/1_UjXyrbn19xjEaFUX9LCgHlSr3BVTyqQgu9b8aCfLW0/edit">Data Protection and Digital Information Bill (DPDIB) related resources</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section" id="description">
      <div class="container is-max-desktop">
        <h2 class="title">About the network</h2>
        <div class="columns">
          <div class="column is-three-quarters-desktop is-three-quarters-fullhd">
            <div class="content is-size-5">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero" id="testimonials">
      <div class="hero-body">
        <div class="container is-max-desktop">
          <h2 class="title">What participants say</h2>
          <div class="grid">
            {%- for testimonial in site.testimonials -%}
              <div class="cell is-size-5">
                <div class="box mb-4">
                  <span class="icon">
                    <i class="fas fa-quote-left"></i>
                  </span>
                  {{ testimonial.content }}
                  <span class="icon">
                    <i class="fas fa-quote-right"></i>
                  </span>
                  <p class="has-text-right">
                    – {{ testimonial.from }}
                  </p>
                </div>
              </div>
            {%- endfor -%}
          </div>
        </div>
      </div>
    </section>

    {%- include footer.html -%}

  </body>

</html>
